td {
	text-align: left;
	vertical-align: top;
	font-family:Verdana;
	font-size:14px;
	color:#ffffff;
	line-height:18px;
}


	
.input{background-color:#fff;
	width:250px;
	height:17px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#584c3f;
	border:1px solid #7b8490;}
	
.message{background-color:#fff;
	width:250px;
	height:90px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#584c3f;
	border:1px solid #7b8490;}
	

body {margin:0px; padding:0px; background-image:url(/HospitalSystem/static/images/background.jpg); background-repeat:repeat;}
.background {margin:0px; padding:0px; background-image:url(/HospitalSystem/static/images/background1.jpg); background-repeat:repeat-x;}
.header {background-image:url(/HospitalSystem/static/images/header.jpg); background-repeat:no-repeat;}
.bottom {background-image:url(/HospitalSystem/static/images/bottom.jpg); background-repeat:no-repeat;}
.tab {background-image:url(/HospitalSystem/static/images/tab.jpg); background-repeat:repeat-y;}
.tab_centr {background-image:url(/HospitalSystem/static/images/tab_centr.jpg); background-repeat:repeat-y;}

.menu         { font-family: Arial, serif; font-size:16px; color: #000000; text-align:center; display:block; width:132px; padding-top:22px; height:35px; text-decoration:none; float:left; font-weight:bold;}
.menu:link    { font-family: Arial, serif; font-size:16px; color: #000000; text-align:center; display:block; width:132px; padding-top:22px; height:35px; text-decoration:none; float:left; font-weight:bold;}
.menu:hover   { font-family: Arial, serif; font-size:16px; color: #ffffff; text-align:center; display:block; width:132px; padding-top:22px; height:35px; text-decoration:none; float:left; background-image:url(/HospitalSystem/static/images/batton.jpg); background-repeat:no-repeat; font-weight:bold;}
.menu:active  { font-family: Arial, serif; font-size:16px; color: #000000; text-align:center; display:block; width:132px; padding-top:22px; height:35px; text-decoration:none; float:left; font-weight:bold;}

.menu_bottom         { font-family: Verdana, serif; font-size: 11px; color: #355d89; text-decoration:none;}
.menu_bottom:link    { font-family: Verdana, serif; font-size: 11px; color: #355d89; text-decoration:none;}
.menu_bottom:hover   { font-family: Verdana, serif; font-size: 11px; color: #355d89; text-decoration:underline;}
.menu_bottom:active  { font-family: Verdana, serif; font-size: 11px; color: #355d89; text-decoration:none;}

.read_top         { font-family: Verdana, serif; font-size: 14px; color: #fde1a6; font-weight:bold; text-decoration:underline;}
.read_top:link    { font-family: Verdana, serif; font-size: 14px; color: #fde1a6; font-weight:bold; text-decoration:underline;}
.read_top:hover   { font-family: Verdana, serif; font-size: 14px; color: #fde1a6; font-weight:bold; text-decoration:none;}
.read_top:active  { font-family: Verdana, serif; font-size: 14px; color: #fde1a6; font-weight:bold; text-decoration:underline;}

.read1         { font-family: Verdana, serif; font-size: 14px; color: #ff8800; text-decoration:none;}
.read1:link    { font-family: Verdana, serif; font-size: 14px; color: #ff8800; text-decoration:none;}
.read1:hover   { font-family: Verdana, serif; font-size: 14px; color: #ff8800; text-decoration:underline;}
.read1:active  { font-family: Verdana, serif; font-size: 14px; color: #ff8800; text-decoration:none;}

.read         { font-family: Verdana, serif; font-size: 14px; color: #6eff00; text-decoration:none;}
.read:link    { font-family: Verdana, serif; font-size: 14px; color: #6eff00; text-decoration:none;}
.read:hover   { font-family: Verdana, serif; font-size: 14px; color: #6eff00; text-decoration:underline;}
.read:active  { font-family: Verdana, serif; font-size: 14px; color: #6eff00; text-decoration:none;}

.more         { font-family: Verdana, serif; font-size: 14px; color: #6eff00; text-decoration:underline;}
.more:link    { font-family: Verdana, serif; font-size: 14px; color: #6eff00; text-decoration:underline;}
.more:hover   { font-family: Verdana, serif; font-size: 14px; color: #6eff00; text-decoration:none;}
.more:active  { font-family: Verdana, serif; font-size: 14px; color: #6eff00; text-decoration:underline;}

.more1         { font-family: Verdana, serif; font-size: 14px; color: #000000; text-decoration:underline;}
.more1:link    { font-family: Verdana, serif; font-size: 14px; color: #000000; text-decoration:underline;}
.more1:hover   { font-family: Verdana, serif; font-size: 14px; color: #000000; text-decoration:none;}
.more1:active  { font-family: Verdana, serif; font-size: 14px; color: #000000; text-decoration:underline;}



.name { font-family:Arial, serif; font-size:18px; color:#ffffff;}
.name1 { font-family:Arial, serif; font-size:18px; color:#000000;}
.ser { color:#8d8986;}


.pictures { float:left; margin-right:15px;}
.line {margin-top:10px; margin-bottom:10px;}
.more_im {margin-left:10px;}
.str { list-style-image: url('images/str.gif'); padding-left:15px; margin-left:15px; line-height:20px; margin-top:0px; margin-bottom:0px;}
.str1 { list-style-image: url('images/str1.gif'); padding-left:10px; margin-left:10px; line-height:20px; margin-top:0px; margin-bottom:0px;}


.copyright {margin-top:70px; padding-left:30px; color:#ffffff;}
.blok {padding-left:30px; padding-right:30px; padding-top:20px;}
.blok_right {padding-left:30px; padding-right:30px; padding-top:20px; color:#000000}
.blok1 {margin-left:25px; margin-right:25px; color:#000000}